"*":
  "atom-ctags": {}
  "autocomplete-python":
    useSnippets: "required"
  core:
    disabledPackages: [
      "linter-flow"
    ]
  docblockr:
    extend_double_slash: false
  "easy-motion-redux": {}
  editor:
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "0113b5b1-7859-3e3a-ba08-308ee432c6d7"
  "js-hyperclick": {}
  "language-babel": {}
  linter:
    errorPanelHeight: 46
    showErrorInline: false
    showErrorTabFile: false
    showErrorTabProject: false
  "linter-eslint": {}
  "linter-flow":
    executablePath: "/usr/bin/flow"
  minimap: {}
  "package-sync":
    forceOverwrite: true
  racer:
    racerBinPath: "/home/whs/.cargo/bin/racer"
    rustSrcPath: "/home/whs/build/rustc-1.6.0/src/"
  react: {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  "you-complete-me":
    enabledFiletypes: "c, cpp, objc, objcpp, javascript, python, rust, typescript"
    pythonExecutable: "python2"
    rustSrcPath: "/home/whs/build/rustc-1.6.0/"
    ycmdPath: "/home/whs/build/ycmd/"
