packages: [
  "atom-ternjs"
  "autocomplete-cmake"
  "color-picker"
  "docblockr"
  "easy-motion-redux"
  "language-babel"
  "language-cmake"
  "language-rust"
  "linter"
  "linter-eslint"
  "linter-flow"
  "linter-json-lint"
  "minimap"
  "package-sync"
  "racer"
]
